In [3]:
import pandas as pd
from pyutils.analysis import tseries

In [4]:
df = pd.DataFrame(
    [
        ("2010-01-01",14798.5), ("2010-04-01",14926.9), ("2010-07-01",15057.7), ("2010-10-01",15230.2),
        ("2011-01-01",15238.4), ("2011-04-01",15316.8), ("2011-07-01",15553.1), ("2011-10-01",15785.3),
        ("2012-01-01",15973.9), ("2012-04-01",16121.9), ("2012-07-01",16296.5), ("2012-10-01",16447.0),
        ("2013-01-01",16526.8), ("2013-04-01",16827.0), ("2013-07-01",17058.9), ("2013-10-01",17377.7),
        ("2014-01-01",17564.9), ("2014-04-01",17873.2), ("2014-07-01",18129.2), ("2014-10-01",18345.0),
        ("2015-01-01",18524.1), ("2015-04-01",18771.0), ("2015-07-01",18977.5), ("2015-10-01",19174.1),
        ("2016-01-01",19235.4), ("2016-04-01",19488.0), ("2016-07-01",19663.0), ("2016-10-01",19882.2),
        ("2017-01-01",20071.0), ("2017-04-01",20308.0), ("2017-07-01",20558.4), ("2017-10-01",20831.1),
        ("2018-01-01",21039.1), ("2018-04-01",21368.1), ("2018-07-01",21546.6), ("2018-10-01",21739.0),
        ("2019-01-01",21902.8), ("2019-04-01",22077.0), ("2019-07-01",22297.1), ("2019-10-01",22449.8),
        ("2020-01-01",22438.1), ("2020-04-01",20304.0), ("2020-07-01",21815.0), ("2020-10-01",22036.3)
    ],
    columns=["Date","GDP"]
)

df["Date"] = pd.to_datetime(df["Date"])
df = df.set_index("Date")

In [ ]:
tseries.seasonally_adjust_series(df["gdp"])

                GDP
Date
2010-01-01  14798.5
2010-04-01  14926.9
2010-07-01  15057.7
2010-10-01  15230.2
2011-01-01  15238.4
2011-04-01  15316.8
2011-07-01  15553.1
2011-10-01  15785.3
2012-01-01  15973.9
2012-04-01  16121.9
2012-07-01  16296.5
2012-10-01  16447.0
2013-01-01  16526.8
2013-04-01  16827.0
2013-07-01  17058.9
2013-10-01  17377.7
2014-01-01  17564.9
2014-04-01  17873.2
2014-07-01  18129.2
2014-10-01  18345.0
2015-01-01  18524.1
2015-04-01  18771.0
2015-07-01  18977.5
2015-10-01  19174.1
2016-01-01  19235.4
2016-04-01  19488.0
2016-07-01  19663.0
2016-10-01  19882.2
2017-01-01  20071.0
2017-04-01  20308.0
2017-07-01  20558.4
2017-10-01  20831.1
2018-01-01  21039.1
2018-04-01  21368.1
2018-07-01  21546.6
2018-10-01  21739.0
2019-01-01  21902.8
2019-04-01  22077.0
2019-07-01  22297.1
2019-10-01  22449.8
2020-01-01  22438.1
2020-04-01  20304.0
2020-07-01  21815.0
2020-10-01  22036.3